In [1]:
from pathlib import Path
import numpy as np
import pandas as pd

In [2]:
historical = pd.read_csv(Path.cwd() / 'data' / 'historical_mvs.csv', parse_dates=['_date'], date_format='%Y-%m-%d')
historical['_year'] = historical['_date'].dt.year
historical['_month'] = historical['_date'].dt.month
historical = historical[(historical['_date'] >= '2012-01-01') & (historical['_date'] <= '2024-04-30')]

In [3]:
prices = pd.read_csv(Path.cwd() / 'data' / 'historical_prices.csv', parse_dates=['_date'], date_format='%Y-%m-%d')
prices['_year'] = prices['_date'].dt.year
prices['_month'] = prices['_date'].dt.month
prices = prices[(prices['_date'] >= '2012-01-01') & (prices['_date'] <= '2024-04-30')]

In [20]:
len(set(prices._code.unique()) - set(historical._code.unique()))

23

In [11]:
meta = pd.read_csv(Path.cwd() / 'data' / 'meta.csv', parse_dates=['first_include'], date_format='%Y-%m-%d')

In [12]:
# historical = historical[historical['_date'] >= historical['first_include']].drop('first_include', axis=1).reset_index(drop=True)

In [13]:
pre = historical.groupby(['_code', '_year', '_month'], as_index=False)['_value'].count()
pre = pre[pre['_value'] <= 2]

In [14]:
for v in pre.values:
    historical = historical[(historical['_code'] != v[0]) | (historical['_year'] != v[1]) | (historical['_month'] != v[2])]

In [15]:
monthly_historical = historical.groupby(['_code', '_year', '_month'], as_index=False)['_value'].mean()

In [18]:
monthly_historical.columns = ['_code', '_year', '_month', 'monthly_market_value_avg']

In [19]:
monthly_historical

               _code  _year  _month  monthly_market_value_avg
0       AN8068571086   2014       4             129877.534286
1       AN8068571086   2014       5             131698.738429
2       AN8068571086   2014       6             140977.087143
3       AN8068571086   2014       7             148071.291818
4       AN8068571086   2014       8             140926.329048
...              ...    ...     ...                       ...
269225  US98980L1017   2023      11              19391.834857
269226  US98980L1017   2023      12              21803.836250
269227  US98980L1017   2024       1              20756.626095
269228  US98980L1017   2024       2              19809.217900
269229  US98980L1017   2024       3              20700.368950

[269230 rows x 4 columns]

In [ ]:
monthly_historical['monthly_rtn_davg'] = monthly_historical['monthly_rtn'] / monthly_historical['monthly_nbdays']
monthly_historical['monthly_high_low_rtn_davg'] = monthly_historical['monthly_high_low_rtn'] / monthly_historical['monthly_high_low_nbdays']
monthly_historical['monthly_high_end_rtn_davg'] = monthly_historical['monthly_high_end_rtn'] / monthly_historical['monthly_high_end_nbdays']
monthly_historical['monthly_start_high_davg'] = monthly_historical['monthly_start_high_rtn'] / monthly_historical['monthly_start_high_nbdays']

In [ ]:
monthly_historical

In [21]:
monthly_historical.to_csv(Path.cwd() / 'data' / 'historical_mvs_monthly_stat.csv', index=False)

In [ ]:
monthly_historical[['_code', '_year', '_month', 'monthly_rtn', 'monthly_high_low_rtn', 
'monthly_high_end_rtn', 
'monthly_start_high_rtn', 'daily_rtn_avg', 'daily_vola', 'monthly_mdd',
'monthly_rtn_to_daily', 'monthly_high_low_rtn_to_daily',
'monthly_high_end_rtn_to_daily', 'monthly_start_high_to_daily']]