In [7]:
from pathlib import Path
import re
import numpy as np
import pandas as pd

In [13]:
df1 = pd.read_excel(
    Path.cwd() / "data" / "알파 이벤트 매매 내역.xlsx",
    sheet_name="Sheet2"
)

In [14]:
def remove_brackets(text):
    return re.sub(r'\[.*?\]', '', text)

In [15]:
df1 = df1[['종목', '종목명']]
df1['종목명'] = df1['종목명'].apply(remove_brackets).str.strip()

In [17]:
df2 = pd.read_excel(
    Path.cwd() / "data" / "알파 이벤트 매매 내역.xlsx",
    sheet_name="Sheet1"
)

In [50]:
df1.sort_values('종목').drop_duplicates('종목명', keep='first')

             종목            종목명
846      000060          메리츠화재
1887     000150             두산
1522     000210             DL
893      000660         SK하이닉스
1        000720           현대건설
...         ...            ...
152   J0426601D       한화오션 17R
116   J0426701B  현대두산인프라코어 36R
279   J0791601A      CJ CGV 5R
785   J1806421A        한진칼 3WR
298   J2970901C      씨에스베어링 4R

[228 rows x 2 columns]

In [52]:
pd.merge(df2.iloc[:84], df1.sort_values('종목').drop_duplicates('종목명', keep='first'), on='종목명', how='left').to_excel(Path.cwd() / "data" / "알파 이벤트 매매 내역_2.xlsx")

In [23]:
df2.iloc[:84]

,Unnamed: 0,날짜,구분,종목명,종목코드,비고,Unnamed: 6,날짜.1,구분.1,종목명.1
0,NaN,2019-01-29,블록딜,애경산업,NaN,NaN,NaN,2019-01-28,공모주,천보
1,NaN,2019-10-01,기업분할,두산,NaN,"두산, 두산퓨얼셀, 두산솔루스",NaN,2019-05-22,공모주,프로이천
2,NaN,2019-10-01,기업분할,두산퓨얼셀,NaN,NaN,NaN,2019-05-24,공모주,코퍼스코리아
3,NaN,2019-10-01,기업분할,두산솔루스,NaN,NaN,NaN,2019-06-10,공모주,엠에프엠코리아
4,NaN,2019-12-24,공개매수,한화갤러리아타임월드,NaN,NaN,NaN,2019-06-13,공모주,케이비제18호스팩
...,...,...,...,...,...,...,...,...,...,...
79,NaN,2023-10-24,주요지수 정기변경,더존비즈온,NaN,NaN,NaN,2021-07-26,공모주,한화플러스제2호스팩
80,NaN,2023-10-30,유상증자,한화오션,NaN,NaN,NaN,2021-08-02,공모주,크래프톤
81,NaN,2024-02-26,유상증자,LG디스플레이,NaN,NaN,NaN,2021-08-05,공모주,한컴라이프케어
82,NaN,2024-03-05,상장폐지,쌍용C&E,NaN,NaN,NaN,2021-08-05,공모주,디앤디플랫폼리츠
83,NaN,2024-05-21,공개매수,한솔로지스틱스,NaN,NaN,NaN,2021-08-09,공모주,롯데렌탈